
nav > ul {
          display: flex;
}

nav li{
          
          list-style: none;
          margin-right: 10px;
          font-size: 10px;
}
nav li:hover{
     background:lightgray;         
}
nav li a{
          text-decoration: none;
          color:black
          
}
.dropdown{
     
     display: none;
     position:absolute;
     background-color: lightsalmon;
     padding: 0;
}
nav > ul > li:hover > ul{
     
     display: block ;
}
.dropdown li{
     
     padding: 0 10px;
     margin: 0px;
}